body, html {
	font-family: 'Open Sans', Helvetica, sans-serif;
	color: #444;
	font-weight: 400;
	margin: 0;
}

a {
	color: #444;
}

img {
	width: 100%;
}

input {
	outline: none;
	border: none;
	font-family: "Open Sans";
	background: #eee;
	font-weight: 400;
	height: 30px;
	font-size: 17px;
	padding: 3px 0 3px 10px;
	display: block;
}

select {
	display: block;
	outline: none;
	width: 50%;
	margin: 1px 0 20px 0;
	font-size: 17px;
}

#mainContainer {
	width: 700px;
	margin: 0 auto;
	padding: 0 40px;
}

#title {
	text-align: center;
	font-size: 50px;
}

button, .formSubmit {
	display: block;
	margin: 0 auto 60px;
	width: 500px;
	height: 50px;
	background-color: rgb(230,77,75);
    border-radius:2px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    cursor: pointer;
    border: none;
    outline: none;
}

#instructionList li {
	margin-bottom: 40px;
}

.instructionImageContain {
	width: 100%;
	height: 150px;
	overflow: hidden;
	border-radius: 4px;
}


/*------------
SIGN UP
------------*/
.textInput {
	width: 50%;
	margin: 1px 0 20px 0;
}

#password {
	letter-spacing: 1px;
}

#addressExplain {
	font-size: 18px;
	color: #ccc;
}

.formSubmit {
	margin-top: 40px;
}


/*--------------
APP
--------------*/
#mainWrap {
	position: absolute;
	left: 200px;
	top: 0;
	right: 0;
	box-shadow: 0 0 10px rgba(50,50,50,.25);
}
#appMainContainer {
	width: 880px;
	margin: 0 auto;
	padding: 50px 0 0 100px;
	box-sizing: border-box;
}

#sideBar {
	position: absolute;
	left: 0;
	top: 0;
	width: 200px;
}

#logoContain {
	width: 150px;
	height: 50px;
	margin: 40px 0 0 22px;
}