[Desktop Entry]
Encoding=UTF-8
Name=Link to digestible/public/html/digestiblelandingpage.html at master ? mjfuller/digestible ? GitHub
Type=Link
URL=https://github.com/mjfuller/digestible/blob/master/public/html/digestiblelandingpage.html
Icon=text-html
