<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="collectionName" content="{{collectionName}}">
		<meta name="collectionId" content="{{collectionId}}">
		<title>Digestible - {{collectionName}}</title>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/css/digestible.css"/>
		<link rel="stylesheet" href="../public/css/digestible.css" /><!-- This is so javier can edit the css file statically-->
		<script type="text/javascript" src="/clientjs/jquery-2.1.0.min.js"></script>
		<script type="text/javascript" src="/clientjs/consumer.js"></script>
	</head>

	<body>
		<div id="mainWrap" class="noMenuFix">
			<div id="appMainContainer">
				<section>
					<h1 id="collectionTitle">{{collectionName}}</h1>
					<p id="author">By: {{creatorName}}</p>
					<p id="description">{{description}}</p>
					<p id="emailExplain">Sign up to recieve each article in an easy to read email every three days.</p>
					<form id="consumerForm">
						<input type="text" placeholder="Name" class="consumerInput" id="name">
						<input type="text" placeholder="Email Address" class="consumerInput" id="email">
						<input class="formSubmit" id="consumerSubmit" type="submit" name="" value="Subscribe">
					</form>
				</section>
				<div id="separator"></div>
				<section>
					<div id="subscriptionsContainer">
						
						<h2 id="subscribeTitle">Subscription Contents</h2>
						<ol>
							<!-- these links go to blog articles -->
							{{#entries}}
							<li><a href="/consumer/{{collectionName}}/{{entryId}}" target="_blank">{{entryTitle}}</a></li>
							{{/entries}}
						</ol>
					</div>
				</section>
			</div>
		</div>
	</body>
</html>

