<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="collectionName" content="{{collectionName}}">
		<title>Digestible - {{collectionName}}</title>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/css/digestible.css"/>
		<script type="text/javascript" src="/clientjs/jquery-2.1.0.min.js"></script>
		<script type="text/javascript" src="/clientjs/consumer.js"></script>
	</head>

	<body>
		<div id="mainWrap">
			<div id="appMainContainer">
				<section>
					<h1 id="collectionTitle">{{collectionName}}</h1>
					<p id="author">By: Ben Smith</p>
					<p id="description">Lorem ipsum dolor. Lorem ipsum dolor. Lorem ipsum dolor. Lorem ipsum dolor. Lorem ipsum dolor. Blah blah. Blah. This that and another thing. This ismy typing all sorts of description stuff. So much stuff to say. Lorem ipsum dolor. Lorem ipsum dolor. Lorem ipsum dolor. Lorem ipsum dolor. Lorem ipsum dolor. Blah blah. Blah. This that and another thing. This ismy typing all sorts of description stuff. So much stuff to say. Lorem ipsum dolor. Lorem ipsum dolor. Lorem ipsum dolor. Lorem ipsum dolor. Lorem ipsum dolor. Blah blah. Blah. This that and another thing. This ismy typing all sorts of description stuff. So much stuff to say.</p>
					<p id="emailExplain">Sign up to recieve each article in an easy to read email every three days.</p>
					<form id="consumerForm">
						<input type="text" placeholder="Name" class="consumerInput" id="name">
						<input type="text" placeholder="Email Address" class="consumerInput" id="email">
						<input class="formSubmit" id="consumerSubmit" type="submit" name="" value="Subscribe">
					</form>
				</section>
				<section>
					<div id="subscriptionsContainer">
						
						<h2 id="subscribeTitle">Subscription Contents</h2>
						<ol>
							<!-- these links go to blog articles -->
							<li><a href="http://localhost:8080/" target="_blank"> asdf </a></li>
							{{#entries}}
							<li><a href="/consumer/{{collectionName}}/{{entryId}}" target="_blank">{{entryTitle}}</a></li>
							{{/entries}}
						</ol>
					</div>
				</section>
			</div>
		</div>
		<div id="sideBar">
			<p id="logo">Digestible</p>
			<button id="sideSignUp">Join</button>
			<p class="sideBarLink"><a href="#">Sign In</a></p>
		</div>
	</body>
</html>

