<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="collectionId" content="{{collection_id}}">
		<meta name="entryId" content="{{entry_id}}">
		<meta name="visible" content="{{visible}}">
		<title>Digestible - An easy way for readers to read an online collection of work.</title>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="../public/css/digestible.css">
		<link rel="stylesheet" href="/css/medium-editor.css"> <!-- Core -->
		<link rel="stylesheet" href="/css/medium-themes/flat.css">
		<link rel="stylesheet" href="/css/email.css"> <!-- theme -->

		<script type="text/javascript" src="clientjs/jquery-2.1.0.min.js"></script>
	</head>

	<body>
		<div id="mainWrap" class="noMenuFix">
			<div id="editHeader">
				<button class="headerButton" id="goBack">Go Back</button>
				<button class="headerButton" id="deleteColl">Delete</button>
				<button class="headerButton lastButton" id="saveColl">Save</button>
				<div id="saveCheckContain" class="unedited">
					<img src="images/checkmark.png" alt="Save Success">
				</div>
			</div>
			<div id="appMainContainer">
				<section>
					<div id="emailForm">
						<input type="text" value = "{{subject}}" id="emailTitleInput" placeholder="Type your subject">
						<input type="text" id="articleLinkInput" placeholder="Or paste the article link here and we'll make the email for you">
						<button id="pullContent">Pull Content</button>
						<div id="emailInput" class="editable" >{{{content}}}</div>
					</div>
				</section>
			</div>
		</div>
		<div id="deleteOverlay">
			<div class="overlayContain">
				<h2 class="optionsTitle">Are you sure?</h2>
				<button id="finalDelete">Delete</button>
				<button id="cancelDelete">Cancel</button>
			</div>
		</div>
		<div id="backOverlay" style="display:block">
			<div class="overlayContain">
				<h2 class="optionsTitle">Continue without saving?</h2>
				<button id="saveFromOverlay">Save</button>
				<button id="continueBack">Continue</button>
			</div>
		</div>
		<script src="clientjs/medium-editor.js"></script>

		<script type="text/javascript" src="clientjs/emailCreation.js"></script>
	</body>
</html> 



