<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="creatorEmail" content="{{creatorEmail}}">
		<title>Digestible - An easy way for readers to read an online collection of work.</title>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="../public/css/digestible.css" />

	</head>

	<body>
		<div id="mainContainer">
			<p id="unsubscribeSuccess">You have successfully <span>unsubscribed</span>.</p>
		</div>
	</body>
</html>



